.App {
  text-align: center;
}

.content {
    border: 1px solid rgb(128, 123, 123);
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #F0F0F0;
}
    
.content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.9s;
}

button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-size: 0.9em;
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.6em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #85C1E9;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #282c34;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
